@import "./shared/variables";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    overflow-x: hidden;
}

.main_container {
    max-width: 1440px;
    max-height: fit-content;
    margin: auto;
}

@import "./components/navbar/navbar";
@import "./components/home/home";
@import "./components/destination/destination";
@import "./components/footer/footer";