$transition: all ease-in-out .3s;

// Navbar Colors
$hamburger-menu-bg-blur: hsla(0, 4%, 11%, 0.1);
$hamburger-menu-bg-noblur: hsla(0, 0%, 0%, 0.857);
$hamburger-menu-bg-lg-noblur: hsla(0, 0%, 14%, 0.525);
$nav-link: hsl(0, 0%, 100%);
$nav-link-hover: hsl(231, 77%, 90%);

// Shared Colors
$text-color: hsl(231, 77%, 90%);
$title-color: hsl(0, 0%, 100%);

// Home Colors
$home-btn-border: hsl(0, 0%, 100%);
$home-btn-border-shadow: hsl(0, 0%, 65%);
$home-btn-link: hsl(0, 0%, 0%);

// Destination Colors
$destination-span: hsl(231, 18%, 62%);
