.navbar {
    z-index: 1;
    padding: 1rem;
}

.logo_icon {
    position: fixed;
    top: 1.5rem;
    left: 1.5rem;
    
    img {
        width: 80%;
        height: 80%;
    }
}

.menu_close {
    position: fixed;
    cursor: pointer;
    top: 1.5rem;
    right: 1.5rem;
}

.menu_open {
    position: fixed;
    inset: 0rem 0 0 35%;
    background: $hamburger-menu-bg-noblur;
    transform: translateX(100%);
    transition: $transition;
  
    img {
        float: right;
        margin: 1.5rem 1rem;
        align-self: center;
        cursor: pointer;
    }

    ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        margin: 8rem 0 0 1rem;
        
        li {
            margin: 1rem;
            cursor: pointer;
            color: $nav-link;

            .main_link {
                text-decoration: none;
                color: $nav-link;

                span {
                    margin-right: .5rem;
                }

                &:hover {
                    color: $nav-link-hover;
                    font-weight: 700;
                    border-bottom: 2px solid $nav-link-hover;
                }
            }

            .actived {
                color: $nav-link-hover;
                border-bottom: 2px solid $nav-link-hover;
                font-weight: 700;
            }
        }
    }
}



@supports (backdrop-filter: blur(2rem)) {
    .menu_open {
        background: $hamburger-menu-bg-blur;
        backdrop-filter: blur(2rem);
    }
}

@media screen and (min-width: 720px) {
    .logo_icon {
        margin: 1.5rem 2rem 0;
    
        img {
            width: 100%;
            height: 100%;
        }
    }

    .menu_close {
        display: none !important;
    }

    .menu_open {
        transform: translateX(0) !important;
        height: fit-content;
        margin-top: 1.5rem;
        background: $hamburger-menu-bg-lg-noblur;

        img {
            display: none;
        }

        ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            margin: 0;
            padding: 1rem;
        }
    }

    .main_link {

        &:hover {
            color: $nav-link-hover;
            border-bottom: 2px solid $nav-link-hover;
            padding-bottom: 2rem;
        }

        span {
            display: none;
        }
    }

    .actived {
        padding-bottom: 2rem;
    }
}

@media screen and (min-width: 1020px) {
    .main_link {

        span {
            display: inherit;
        }
    }
}