* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  overflow-x: hidden;
}

.navbar {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
}

.logo_icon img {
  width: 80%;
  height: 80%;
}

.menu_close {
  cursor: pointer;
}

.menu_open {
  position: fixed;
  inset: 0rem 0 0 35%;
  background: rgba(56, 54, 54, 0.333);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.menu_open img {
  float: right;
  margin: 1.5rem 1rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
}

.menu_open ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  margin: 8rem 0 0 1rem;
}

.menu_open ul li {
  margin: 1rem;
  cursor: pointer;
  color: white;
}

.menu_open ul li a {
  text-decoration: none;
  color: white;
}

.menu_open ul li a span {
  margin-right: .5rem;
}

.menu_open ul li a:hover {
  color: rgba(255, 250, 250, 0.633);
}

@supports ((-webkit-backdrop-filter: blur(2rem)) or (backdrop-filter: blur(2rem))) {
  .menu_open {
    background: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(2rem);
            backdrop-filter: blur(2rem);
  }
}

@media screen and (min-width: 720px) {
  .menu_close {
    display: none !important;
  }
  .menu_open {
    -webkit-transform: translateX(0) !important;
            transform: translateX(0) !important;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-top: 1.5rem;
  }
  .menu_open img {
    display: none;
  }
  .menu_open ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0;
    padding: 0;
  }
  .menu_open ul li a:hover {
    text-decoration: underline;
  }
  .menu_open ul li a span {
    display: none;
  }
}

@media screen and (min-width: 1020px) {
  .menu_open ul li a span {
    display: inherit;
  }
}

.home_container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bg_img {
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  background: url("../assets/bg-img/background-home-mobile.jpg") no-repeat center center fixed;
  background-size: cover;
  position: absolute;
  inset: 0 0 0 0;
  height: 100vh;
  width: 100%;
  z-index: -1;
}

@media screen and (min-width: 720px) {
  .bg_img {
    background: url("../assets/bg-img/background-home-tablet.jpg") no-repeat center center fixed;
    background-size: cover;
  }
}

@media screen and (min-width: 1020px) {
  .bg_img {
    background: url("../assets/bg-img/background-home-desktop.jpg") no-repeat center center fixed;
    background-size: cover;
  }
}
/*# sourceMappingURL=main.css.map */