.home_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.bg_img {
    transition: $transition;
    background: url("../assets/bg-img/background-home-mobile.jpg") no-repeat center center fixed;
    background-size: cover;
    position: absolute;
    inset: 0 0 0 0;
    height: 100vh;
    width: 100%;
    z-index: -1;
}

@media screen and (min-width: 720px) {
    .bg_img {
        background: url("../assets/bg-img/background-home-tablet.jpg") no-repeat center center fixed;
        background-size: cover;
    }
}

@media screen and (min-width: 1020px) {
    .bg_img {
        background: url("../assets/bg-img/background-home-desktop.jpg") no-repeat center center fixed;
        background-size: cover;;
    }
}